<% include partials_header %>

<div class="container">
    <div class="thumbnail" id="show-card">
        <img class="img-responsive" src="<%=campground.image%>">
        <div class="container-fluid">
            <h2><a><%=campground.name%></a></h2>
            <p><%=campground.description%></p>
        </div>

        <div class="card-ctrl">
            <p class="btn"> <em>Posted By <%= campground.author.username %></em> </p>
        
            <!-- CAMPGROUNDS' BUTTONS -->
            <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                <div class="pull-right">
                    <a href="/campgrounds/<%= campground._id %>/edit"
                       class="btn" role="button"
                       >Edit</a>
                    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" 
                          method="POST"
                          >
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>

            <% }%>
        </div>
    </div>

    <!-- COMMENTS -->
    <div class="well" id="comment-well">
        <div class="text-right">
            <a href="/campgrounds/<%= campground._id %>/comments/new"
               class="btn branding"
               > Add New Comment </a>
        </div>

        <hr>

        <% campground.comments.forEach(function(comment){ %>
            <div class="comment-msg"> <strong><%= comment.author.username %></strong> <%= comment.text %>

                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                <div class="inline-ctrl">
                    <a href="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>/edit">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>

                    <form action="/campgrounds/<%=campground._id %>/comments/<%=comment._id %>?_method=DELETE" 
                          method="POST"
                          >

                        <button value="Delete" class="btn btn-link">
                            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                        </button>
                    </form>
                </div>
                <% } %>
            </div>
        <% }) %>
    </div>
</div>




    



<% include partials_footer %>