<% include partials_header %>

<div class="container-fluid">
<div class="col-xs-12 col-sm-10 col-md-8 form-panel">
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>
            Add New Comment
        </h1>
    </div>

    <div class="panel-body">
        <p class="text-center">
            <%= isNewOrNotEdit? "Add New Comment to": "Edit Comment of" %>
            <%= ` "${campground.name}"` %>
        </p>

        <% if (isNewOrNotEdit) { %>
        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
        <% } else { %>
        <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <% } %>

            <div class="form-group">
                <label for="comment_text">Comment text</label>
                <input type="text" name="comment[text]" class="form-control"
                       id="comment_text" placeholder="comment text"
                       value="<%= isNewOrNotEdit? '': comment.text %>"
                       >
            </div>

            <button class="btn btn-default btn-block branding">Submit</button>

        </form>
        <hr>
        <a href="javascript:history.back()" 
           class="btn btn-default btn-block"
           >Go Back</a>
    </div>
</div>
</div>
</div>

<% include partials_footer %>