<% include partials_header %>

<div class="container">
<div class="row justify-content-around">
<div class="col-sm-12 col-md-10 col-lg-8">
<div class="card form-panel">
    <h1 class="card-header">
        Add New Comment
    </h1>

    <div class="card-body">
        <p class="text-center">
            <%= isNewOrNotEdit? "Add New Comment to": "Edit Comment of" %>
            <%= ` "${campground.name}"` %>
        </p>

        <% if (isNewOrNotEdit) { %>
        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
        <% } else { %>
        <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <% } %>

            <div class="form-group">
                <label for="comment_text">Comment text</label>
                <input type="text" name="comment[text]" class="form-control"
                       id="comment_text" placeholder="comment text"
                       value="<%= isNewOrNotEdit? '': comment.text %>"
                       >
            </div>

            <button class="btn btn-block branding">Submit</button>

        </form>
        <hr>
        <a href="javascript:history.back()" 
           class="btn btn-outline-secondary btn-block"
           >Go Back</a>
    </div>
</div>
</div>
</div>
</div>

<% include partials_footer %>